.btn {
  /*background-color: $mainBlue;*/
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange{
    background-color: ;
  }

  &--large{
    font-size: 1rem;
    padding: 1.1rem 1.9rem;

    @mixin atMedium {
      font-size: 1.3rem;
    }
  }



}
